.card {
  margin-top: 20px;
  background-color: transparent;
  border: none;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}

.cardFooter {
  background-color: transparent;
  border: none;
}

.cardSubtitle {
  color: #68B984;
}

.cardActionsBtn {
  all: unset;
  font-size: 18px;
  color: #183A1D;
}

.cardActionsBtn:hover,
.cardActionsBtn:focus,
.cardActionsBtn:active,
.cardActionsBtn:focus-visible {
  all: unset;
  font-size: 18px;
  background-color: transparent !important;
  color: #183A1D !important;
  box-shadow: none !important;
}
