.card {
  width: 18rem;
  background-color: transparent;
  border: none;
}

.cardBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.cardHeading {
  font-size: 150px;
}

.projectName {
  color: #183A1D;
}

.projectName:hover {
  color: #68B984;
}
