.topCard {
  margin-top: 20px;
  background-color: transparent;
  border: none;
}

.card {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: solid 1px #68B984;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}

.cardSubtitle,
.cardText {
  color: #68B984;
}

/* .cardText {
  color: #F0A04B;
} */

.cardDropdown {
  display: flex;
  justify-content: flex-end;
}

.cardLink {
  color: #183A1D;
  font-size: 25px;
}

.cardLink:hover {
  color: #68B984;
}

.cardActionsBtn {
  all: unset;
  font-size: 18px;
  color: #183A1D;
}

.cardActionsBtn:hover,
.cardActionsBtn:focus,
.cardActionsBtn:active,
.cardActionsBtn:focus-visible {
  font-size: 18px;
  background-color: transparent !important;
  color: #68B984 !important;
  box-shadow: none !important;
}

.dropdownMenu {
  background-color: #E1EEDD;
}

.dropdownItem {
  color: #183A1D;
  font-size: 18px;
}

.dropdownItem:hover {
  background-color: #68B984;
}
