.formContainer {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 50%;
}

.formInputField {
  background-color: #f2efdf;
  border: solid 1px var(--dark-green);
  color: var(--dark-green);
}

.formInputField:focus {
  background-color: #ddd9c4;
  box-shadow: none;
  border: solid 1px var(--dark-green);
  color: var(--dark-green);
}

.formBtn {
  background-color: var(--dark-green);
  border: solid 1px var(--dark-green);
  border-radius: 7px;
  color: #E1EEDD;
  padding: 7.5px 15px;
}

.formBtn:hover,
.formBtn:active {
  background-color: var(--light-green);
  border: solid 1px var(--dark-green);
}
