@import 'bootstrap/dist/css/bootstrap.css';

:root {
  --dark-green: #183A1D;
  --light-green: #68B984;
  --light-blue: #E1EEDD;
  --off-white: #FEFBE9;
  --orange: #F0A04B;
}

* {
  color: var(--dark-green);
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: var(--off-white);
  background-image: url('../public/images/paper.jpg');
}

/* Styles for the form checks- could not get them in the module */
.form-check-input {
  background-color: #f2efdf;
  border-color: var(--dark-green);
}

.form-check-input:checked,
.form-check-input:focus {
  background-color: var(--dark-green);
  border-color: var(--dark-green);
  box-shadow: none;
}

/* Styles for the Sign In Button  */
.signin-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.signin-btn {
  all: unset;
  color: var(--dark-green);
  margin-top: 30px;
}

.signin-btn:hover {
  color: var(--light-green);
}

/* From CardStyles.module.css - needed to be here to override Bootstrap Specificity */
div.dropdown .toggle-btn:active,
div.dropdown .toggle-btn:focus-visible,
.btn.show {
  all: unset;
  font-size: 18px;
  background-color: transparent;
  color: var(--light-green);
  box-shadow: none;
}
