@import 'bootstrap/dist/css/bootstrap.css';

/* color pallette: 
#183A1D Dark Green rgb(24, 58, 29)
#68B984 Light Green rgb(104, 185, 132)
#F0A04B Orange rgb(240, 160, 75)
#E1EEDD Light Blue rgb(225, 238, 221)
#FEFBE9 Off White  rgb(254, 251, 233)
*/
/* :root {
  --orange: #F0A04B
} */

* {
  color: #183A1D;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #fefbe9;
}

/* Styles for the form checks- could not get them in the module */
.form-check-input {
  background-color: #ddd9c4;
  border-color: #183A1D;
  box-shadow: brown
}

.form-check-input:checked,
.form-check-input:focus {
  background-color: #183A1D;
  border-color: #183A1D;
  box-shadow: none;
}

.signin-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.signin-btn {
  all: unset;
  color: #183A1D;
  margin-top: 30px;
}

.signin-btn:hover {
  color: #327a3d;
}

/* h4 {
  color: var(--orange);
} */
