/* Home Page  */

.homePageHeading {
  margin-top: 25px;
}

.projectCardsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Project Details Page  */

.projectDetailsCardHeading {
  font-style: italic;
  margin-top: 25px;
}

.projectDetailsTasksDiv {
  margin-bottom: 25px;
}

.projectDetailsMaterialsDiv {
  margin-bottom: 100px;
}
